@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Eudoxus_Sans';
  src: url('./Assets/fonts/Eudoxus-Sans/EudoxusSansExtraLight.ttf') format('truetype');
  src: url('./Assets/fonts/Eudoxus-Sans/EudoxusSansLight.ttf') format('truetype');
  src: url('./Assets/fonts/Eudoxus-Sans/EudoxusSansRegular.ttf') format('truetype');
  src: url('./Assets/fonts/Eudoxus-Sans/EudoxusSansMedium.ttf') format('truetype');
  src: url('./Assets/fonts/Eudoxus-Sans/EudoxusSansBold.ttf') format('truetype');
  src: url('./Assets/fonts/Eudoxus-Sans/EudoxusSansExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gloock';
  src: url('./Assets/fonts/Gloock/Gloock-Regular.ttf') format('truetype');
  
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 204, 204, 204;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 2, 6, 23;
    --background-start-rgb: 2, 6, 23;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    font-family: 'Eudoxus_Sans', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
